.anchor {
    -fx-background-image:url('Red.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}

.button{
    -fx-background-color:#FFFFFF;
    -fx-opacity: 1;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color:CDCDCD ;
}

.label{
    -fx-text-fill:White;
    -fx-font-size: 15;
    -fx-font-weight: bold;

}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}
.table-view .column-header{
    -fx-background-color: White;
    -fx-opacity: 1;
}


.table-view{
    -fx-opacity: 0.9;
}
.text-field{
    -fx-opacity: 1;
}